<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Return date can not be extended</title>
<link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>
	
	<div class="container">
		<h3>Renew book date can not be extended</h3>
		
		<p>The return date of the book you are trying to extend, cannot be extended. Possible reasons are:
		<br/><br/>
		- To reborrow an already checked-out book.<br/>
		- If user has already reserved it for 10 days then user should be allowed to renew.<br/>
		- Someone else reserved the book.<br/><br/>
		
		Please make sure to return this book on time to the library.
		</p>
		
	
		<div class="row">
			<form th:action="@{/user/yourbooks}" method="GET">
				<input style="width: 200px" type="submit" value="Go back to your books">
			</form>
		</div>
		
	</div>
	
</body>
</html>